<div class="container">
    <div class="col-md-12">
        <div id="greeting_object" class="col-md-8 col-md-offset-2">
            <div class="thumbnail col-md-12 text-center">
                <img id="smiley_object" src="img/smiley.jpg" style="width: 100px; height: 100px;" />
                <h1>Hi, Happy Birthday {{ $root.fullname }}</h1>
                <p>
                    <a class="btn btn-success btn-md">Click Here For A Surprise!!!</a>
                </p>
            </div>
        </div>
    </div>
</div>