<div class="container_fluid">
    <img src="img/bg_four.jpg" class="full_background" />
    <div class="message_objects">
        <div class="col-md-12">
            <div ng-show="$root.show_msg_one" id="message_object_one" class="col-md-6 col-md-offset-3 slideUp">
                <div class="thumbnail col-md-12 col-xs-12 text-center">
                    <h1>Everything around you blossoms because of your pretty smile, truly a Queen is born today.</h1>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-show="$root.show_msg_two" id="message_object_two" class="col-md-4 col-md-offset-1 slideRight">
                <div class="thumbnail col-md-12 col-xs-12 text-center" style="color: #e24570 !important;">
                    <h1>You are hardworking, you are God fearing, you are diligent, and we thank God for blessing us with such a blessed person on this day.</h1>
                </div>
            </div>
            <div ng-show="$root.show_msg_three" id="message_object_three" class="col-md-4 col-md-offset-2 scaleUp">
                <div class="thumbnail col-md-12 col-xs-12 text-center" style="color: #073478 !important;">
                    <h1>This is a memorable day for all the angels, for on this day their Queen was born.</h1>
                </div>
            </div>
        </div>
    </div>
</div>
