<div class="container-fluid">
    <img src="img/bg_two.jpg" class="full_background" />
    <div class="col-md-12">
        <div id="timer_object" class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center" style="color: #FFF;">We can&apos;t wait to wish You a happy birthday!!!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail col-xs-4 col-md-4 text-center">
                        <h1>{{ duration.h }}</h1>
                        <small>Hour(s)</small>
                    </div>
                    <div class="thumbnail col-xs-4 col-md-4 text-center">
                        <h1>{{ duration.m }}</h1>
                        <small>Minute(s)</small>
                    </div>
                    <div class="thumbnail col-xs-4 col-md-4 text-center">
                        <h1>{{ duration.s }}</h1>
                        <small>Second(s)</small>
                    </div>
                </div>
            </div>
            <div ng-if="current_month" style="margin-top: 10px;" class="row">
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ current_date.getTime() }}" aria-valuemin="{{ start_time }}" aria-valuemax="{{ $root.birth_date.getTime() }}" style="width: {{ percentage }}%;">
                            {{ percentage }}% Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
