html, body
{
    font-family: "Courier Sans";
}

#timer_object, #greeting_object
{
    padding-top: 20%;
    background: transparent !important;
}

.message_objects
{
    padding-top: 15%;
    background: transparent !important;
}

#timer_object small
{
    font-weight: bold;
    color: #bcb;
}

#timer_object div.thumbnail
{
    border-radius: 0 !important;
    margin: 0px;
    border: none !important;
    background: transparent !important;
}

#greeting_object div.thumbnail
{
    border-radius: 0 !important;
    margin: 0px;
}

#timer_object div.thumbnail h1
{
    font-weight: bold;
    font-size: 70px;
    margin: 5px 0px;
    color: #FFF;
}

img#smiley_object
{
    position: absolute;
    top: -40px;
    left: -30px;
}

img.full_background
{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px)
{ /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.progress
{
    border-radius: 0px;
}


/*
** Page Animations
*/

.main
{
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.main.ng-enter
{
    z-index: 10;
}

.main.ng-leave
{
    z-index: 20;
}

.slideUp.ng-hide-remove
{
    -webkit-animation:slideInUp 0.6s both ease-in;
    -moz-animation:slideInUp 0.6s both ease-in;
    -o-transition:slideInUp 0.6s both ease-in;
    transition:slideInUp 0.6s both ease-in;
    animation:slideInUp 0.6s both ease-in;
}

.scaleUp.ng-hide-remove
{
    -webkit-animation:scaleUp 0.6s both ease-in;
    -moz-animation:scaleUp 0.6s both ease-in;
    -o-transition:scaleUp 0.6s both ease-in;
    transition:scaleUp 0.6s both ease-in;
    animation:scaleUp 0.6s both ease-in;
    
}

.slideRight.ng-hide-remove
{
    -webkit-animation:slideInRight 0.6s both ease-in;
	-moz-animation:slideInRight 0.6s both ease-in;
    -o-transition:slideInRight 0.6s both ease-in;
    transition:slideInRight 0.6s both ease-in;
	animation:slideInRight 0.6s both ease-in;
}

.page-waiting.ng-enter.ng-enter-active
{
    -webkit-animation:slideInUp 0.6s both ease-in;
    -moz-animation:slideInUp 0.6s both ease-in;
    -o-transition:slideInUp 0.6s both ease-in;
    transition:slideInUp 0.6s both ease-in;
    animation:slideInUp 0.6s both ease-in;
}

.page-greeting.ng-enter.ng-enter-active
{
    -webkit-animation:slideInUp 0.6s both ease-in;
    -moz-animation:slideInUp 0.6s both ease-in;
    -o-transition:slideInUp 0.6s both ease-in;
    transition:slideInUp 0.6s both ease-in;
    animation:slideInUp 0.6s both ease-in;
}

.page-message.ng-enter.ng-enter-active
{
    -webkit-animation:slideInRight 0.6s both ease-in;
	-moz-animation:slideInRight 0.6s both ease-in;
    -o-transition:slideInRight 0.6s both ease-in;
    transition:slideInRight 0.6s both ease-in;
	animation:slideInRight 0.6s both ease-in;
}

.page-waiting.ng-leave.ng-leave-active
{
    -webkit-animation:slideOutLeft 0.6s both ease-out;
    -moz-animation:slideOutLeft 0.6s both ease-out;
    -o-transition:slideOutLeft 0.6s both ease-out;
    transition:slideOutLeft 0.6s both ease-out;
    animation:slideOutLeft 0.6s both ease-out;
}

.page-greeting.ng-leave.ng-leave-active
{
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}

@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}